In [1]:
import pandas as pd 
import numpy as np 
from itertools import product

In [2]:
countries = ['us','de','dk','fr','it','nl','se','sp']

In [3]:
test = pd.read_pickle('output/params_wage_us.pkl')
test

             value   free        se
name
sigma     2.096055   True  0.063596
beta      0.970000  False       NaN
phi       0.294007   True  0.049669
psi       0.142842   True  0.004335
delta_h1 -0.988275   True  0.062279
delta_h2  3.485250   True  0.013469
eta       0.000000  False       NaN
tfp       1.000000  False       NaN
price     1.000000  False       NaN
risk      0.000000  False       NaN

In [4]:
pars_select = ['delta_h1','delta_h2','price','tfp']
stat = ['par','se']
tuples = list(product(*[pars_select,stat]))
table = pd.DataFrame(index=pd.MultiIndex.from_tuples(tuples),columns=countries)
for c in countries: 
	df = pd.read_pickle('output/params_wage_'+c+'.pkl')
	for p in pars_select:
		table.loc[(p,'par'),c] = df.loc[p,'value']
		table.loc[(p,'se'),c] = df.loc[p,'se']

In [5]:
pars_select = ['delta_h1','delta_h2','price','tfp']
labels = ['$\\alpha_{10}$','$\\alpha_{11}$','$\\frac{p}{p_{US}}$','$\\frac{A}{A_{US}}$']
maps_labels = dict(zip(pars_select,labels))
table.index = pd.MultiIndex.from_tuples(list(product(*[labels,['','se']])))

In [6]:
for c in table.columns:
	table[c] = table[c].astype('float64')
	table[c] = table[c].round(3)
	table[c] = table[c].astype('str')
	table[c] = np.where(table[c]=='nan','-',table[c])
	for s in table.index:
		if s[1]=='se':
			if table.loc[s,c]!='-':
				fmt = "({se})"
				table.loc[s,c] = fmt.format(se=table.loc[s,c])
table.index = pd.MultiIndex.from_tuples(list(product(*[labels,['','']])))

In [7]:
table

                          us       de       dk       fr       it       nl  \
$\alpha_{10}$         -0.988   -1.286   -1.597   -1.253   -0.801   -1.371
                     (0.062)  (0.142)  (0.095)   (0.03)  (0.007)  (0.044)
$\alpha_{11}$          3.485    4.148    4.276     3.94    3.905    4.097
                     (0.013)   (0.08)  (0.016)  (0.032)   (0.07)  (0.055)
$\frac{p}{p_{US}}$       1.0     0.85    0.794    0.583    0.605    0.618
                           -  (0.013)  (0.066)  (0.018)  (0.006)  (0.054)
$\frac{A}{A_{US}}$       1.0    1.022    1.259    0.923    0.643    1.005
                           -  (0.217)   (0.01)  (0.018)  (0.039)  (0.004)

                          se       sp
$\alpha_{10}$         -1.406   -0.016
                      (0.23)  (0.115)
$\alpha_{11}$          4.414    3.433
                     (0.028)   (0.12)
$\frac{p}{p_{US}}$     0.889    0.561
                      (0.02)   (0.02)
$\frac{A}{A_{US}}$     0.801    0.814
                     (0.012)  (0.011)

In [8]:
table.to_latex('../tables/table_e2_country_specific_estimates.tex')

/var/folders/5n/x381756n3690kb86tk48yks00000gp/T/ipykernel_36354/41189828.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  table.to_latex('../tables/table_e2_country_specific_estimates.tex')

## Average US-EU differences

This number is used in counterfactual analysis.

In [9]:
table.index = pd.MultiIndex.from_tuples(list(product(*[labels,['p','se']])))
prices = table.loc[('$\\frac{p}{p_{US}}$','p'),:]
prices['de':].astype('float64').mean()

0.7000000000000001

In [10]:
table.index = pd.MultiIndex.from_tuples(list(product(*[labels,['p','se']])))
prices = table.loc[('$\\frac{A}{A_{US}}$','p'),:]
prices['de':].astype('float64').mean()

0.9238571428571428