In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_path = '../data_sources/psid/'

In [3]:
df = pd.read_stata(data_path+'pequiv_1989.dta',convert_categoricals=False)

In [4]:
df.columns = [c.replace('_1989','') for c in df.columns]
df['year'] = 1989

In [5]:
for t in range(1990,1998):
	dft = pd.read_stata(data_path+'pequiv_'+str(t)+'.dta',convert_categoricals=False)
	dft.columns = [c.replace('_'+str(t),'') for c in dft.columns]
	dft['year'] = t
	df = df.append(dft)

In [6]:
df['year'].value_counts().sort_index()

1989    19669
1990    19932
1991    19962
1992    20334
1993    21450
1994    23620
1995    23182
1996    23060
1997    19132
Name: year, dtype: int64

In [7]:
df = df[df['d11105']==1]

In [8]:
df = df.rename({'x11101ll':'pid'},axis=1)
df = df.rename({'d11101':'age'},axis=1)
df = df.rename({'i11113':'Y'},axis=1)
df['co'] = 'US'
df = df[['co','pid','year','age','Y']]
df = df[df['Y']>0]
df['Y'] = df['Y']/df['Y'].mean()
up = df['Y'].quantile(0.975)
low = df['Y'].quantile(0.025)
df['Y'] = df['Y'].clip(low,up)
df['logY'] = np.where((df['Y'].isna()==False),np.log(df['Y']),np.nan)

In [9]:
df.head()

    co   pid  year   age         Y      logY
0   US  4001  1989  67.0  0.720443 -0.327888
2   US  4003  1989  38.0  0.900614 -0.104679
6   US  4008  1989  24.0  0.684175 -0.379542
15  US  4170  1989  34.0  0.789620 -0.236204
16  US  4172  1989  40.0  1.564385  0.447493

In [10]:
df.groupby('year').mean()['Y']

year
1989    0.834019
1990    0.859003
1991    0.887218
1992    0.910303
1993    0.949240
1994    0.920695
1995    0.956643
1996    1.005616
1997    1.110761
Name: Y, dtype: float64

In [11]:
df['wave'] = df['year'] - 1989 + 1

In [12]:
df.to_pickle(data_path+'psid_incomes.pkl')